.menu__menu-4__title {
    @include color-menu-4;
}

.menu-4 {
    @include menu-typo;
    background-color: $fond-menu-4;
    padding-bottom: 80px;
}

.menu-4__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    .menu-4__title-h2 {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
}

.menu-4__h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kaushan Script', cursive;
    padding-top: 100px;
    padding-bottom: 100px;
    .menu-4__title-h3 {
        @include color-menu-4;
        font-size: 45Px;
    }
}

.menu-4__title-h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .menu-4__barre-l {
        width: 250px;
        padding-right: 20px;
    }
    .menu-4__barre-r {
        width: 250px;
        padding-left: 20px;
    }
    .menu-4__h4 {
        font-family: 'Caveat', cursive;
        font-size: 30px;
    }
}

.menu-4-1__title-h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-menu-3;
    .menu-4-1__barre-l {
        width: 250px;
        padding-right: 20px;
    }
    .menu-4-1__barre-r {
        width: 250px;
        padding-left: 20px;
    }
    .menu-4-1__h4 {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        padding-top: 5px;
    }
}

.menu-4-2__title-h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $text-menu-3;
    .menu-4-2__barre-l {
        width: 250px;
        padding-right: 20px;
    }
    .menu-4-2__barre-r {
        width: 250px;
        padding-left: 20px;
    }
    .menu-4-2__h4 {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        padding-top: 7px;
    }
}

.menu-4-le-chic{
    padding-bottom: 50px;
}

.menu-4__list-1 {
    @extend .menu-list;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: $text-menu-3;
}

.menu-4-2__list-1 {
    @extend .menu-list;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: $text-menu-3;
}

.menu-4-3__list-1 {
    @extend .menu-list;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: $text-menu-3;
}

.menu-4-la-note-final {
    padding-bottom: 50px;
    font-family: 'Caveat', cursive;
    font-size: 20px;
}

.menu-4-h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu-4-musique {
        width: 60px;
        padding-right: 5px;
    }
    .menu-4-final {
        font-size: 24px;
        font-family: 'devonshire', cursive;
    }
}

@media screen and (max-width: 900px) {
    .menu-4 {
        width: 90%;
    }

    .menu-4__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu-4__barre-l {
            width: 200px;
            padding-right: 20px;
        }
        .menu-4__barre-r {
            width: 200px;
            padding-left: 20px;
        }
        .menu-4__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
        }
    }
    
    .menu-4-1__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        .menu-4-1__barre-l {
            width: 250px;
            padding-right: 20px;
        }
        .menu-4-1__barre-r {
            width: 200px;
            padding-left: 20px;
        }
        .menu-4-1__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
            padding-top: 5px;
        }
    }
    
    .menu-4-2__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        .menu-4-2__barre-l {
            width: 200px;
            padding-right: 20px;
        }
        .menu-4-2__barre-r {
            width: 200px;
            padding-left: 20px;
        }
        .menu-4-2__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
            padding-top: 7px;
        }
    }
}

@media screen and (max-width: 750px) {
    .menu-4 {
        width: 90%;
    }
    .menu-4__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        color: $text-menu-3;
    }
    
    .menu-4-2__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        color: $text-menu-3;
    }
    
    .menu-4-3__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 20px;
        color: $text-menu-3;
    }
    .menu-4__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .menu-4__barre-l {
            width: 150px;
            padding-right: 20px;
        }
        .menu-4__barre-r {
            width: 150px;
            padding-left: 20px;
        }
        .menu-4__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
        }
    }
    
    .menu-4-1__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        .menu-4-1__barre-l {
            width: 150px;
            padding-right: 20px;
        }
        .menu-4-1__barre-r {
            width: 150px;
            padding-left: 20px;
        }
        .menu-4-1__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
            padding-top: 5px;
        }
    }
    
    .menu-4-2__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        .menu-4-2__barre-l {
            width: 150px;
            padding-right: 20px;
        }
        .menu-4-2__barre-r {
            width: 150px;
            padding-left: 20px;
        }
        .menu-4-2__h4 {
            font-family: 'Caveat', cursive;
            font-size: 30px;
            padding-top: 7px;
        }
    }
}

@media screen and (max-width: 600px) {
    .menu-4 {
        width: 90%;
    }
    .menu-4__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 15px;
        color: $text-menu-3;
    }

    .menu-4__h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Kaushan Script', cursive;
        padding-top: 100px;
        padding-bottom: 100px;
        .menu-4__title-h3 {
            @include color-menu-4;
            font-size: 30Px;
        }
    }
    
    .menu-4-2__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 15px;
        color: $text-menu-3;
    }
    
    .menu-4-3__list-1 {
        @include menu-list-2-750px;
        font-family: 'Caveat', cursive;
        font-size: 15px;
        color: $text-menu-3;
    }
    .menu-4__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        .menu-4__barre-l {
            width: 70px;
            padding-right: 10px;
        }
        .menu-4__barre-r {
            width: 70px;
            padding-left: 10px;
        }
        .menu-4__h4 {
            font-family: 'Caveat', cursive;
            font-size: 20px;
        }
    }
    
    .menu-4-1__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        text-align: center;
        .menu-4-1__barre-l {
            width: 70px;
            padding-right: 10px;
        }
        .menu-4-1__barre-r {
            width: 70px;
            padding-left: 10px;
        }
        .menu-4-1__h4 {
            font-family: 'Caveat', cursive;
            font-size: 20px;
            padding-top: 5px;
        }
    }
    
    .menu-4-2__title-h4 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $text-menu-3;
        text-align: center;
        .menu-4-2__barre-l {
            width: 70px;
            padding-right: 10px;
        }
        .menu-4-2__barre-r {
            width: 70px;
            padding-left: 10px;
        }
        .menu-4-2__h4 {
            font-family: 'Caveat', cursive;
            font-size: 20px;
            padding-top: 7px;
        }
    }
}
