$color-primary: #569d88;
$color-title: #fdcc44;

$fond-menu-1: #fce0dc;
$text-menu-1: #3a0b12;

$fond-menu-2: #fff5fe;
$text-menu-2: #c7740a;
$text-menu-2-2: #a6679a;
$text-menu-2-3: #6e4acd;

$fond-menu-3: #eef0f0;
$title-menu-3: #73b9e5;
$text-menu-3:#363636;

$fond-menu-4: #fefffc;
